.table-layout {
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c

}

.crypto-table {
    max-width: 1550px;
    margin:auto;
    background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
    border-radius:15px;

}

.market-cap {
    text-align: right;
}

.table-layout:last-child {
    border:none;
}
.table-layout div {
    display:flex;
    align-items: center;
    gap:10px;
}

.table-layout div img {
    width: 35px
}

.table-layout .green {
    color: #00D515;
    text-align: center;
}
.table-layout .red{
    color: #ff4646;
    text-align: center;
}