select {
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: black
}

.select option {
     background-color: #09005c;
     color:black
}