@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(150,175,199);
    background: linear-gradient(87deg, rgba(150,175,199,1) 25%, rgba(119,111,177,1) 91%);
    width:100vw;
    overflow-x:hidden;
  


}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  